{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>PeacePort<span class="m_1">An online mediation platform.</span></h1>
		</div>
	</div>
	
    <div id="overviews" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>About Us</h3>
                    <p class="lead">With our PEACEPORT project to digitize mediation processes, we aim to address a common issue in today's justice system: lengthy legal processes that economically and temporally strain involved parties due to unresolved disputes. We've developed a digital program to save individuals and institutions valuable time that would otherwise be spent on face-to-face mediation meetings.

                        During the development, we ensured that all necessary documents and files for users were accessible in this digital environment. This provides an online mediation experience that's as comprehensive and accessible as in-person meetings. Our intention is to eliminate potential conflicts that arise when parties involved in a case meet in person. With this platform, overseen by lawyers or authorized individuals, we foresee that disputes will be resolved more rapidly and effectively online.
                        
                        We've made user security, accessibility, and result-oriented operations our top priorities in this user-friendly program, aspiring to be the leading representative in the digital space of the industry.
                        </p>
                </div>
            </div><!-- end title -->
        
            

            

                        
                        <!-- end testimonial -->
                    </div><!-- end carousel -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->


    {% endblock %}